body
{
    text-align: center;
    font-family: "Arial";
    color: darkgray;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

#container
{
   width: 70%;
   padding: lem;
   text-align: left;
   border: 2px solid #DDD;
   margin:  0 auto; 
}

#container h1
{
    font-size: 20px;
}